 
<section id="main-content">
          <section class="wrapper">
            <h3><i class="fa fa-angle-right"></i> Report </h3>
            
            <!-- BASIC FORM ELELEMNTS -->
            <div class="row mt">
              <div class="col-lg-12">
                  <div class="form-panel">
                    
                      <form class="form-horizontal style-form" method="get">
                          
                      <div class="row mt">
                          <div class="col-md-12">
                              <div class="content-panel">
                                  <h4><i class="fa fa-angle-right"></i>Report Debt</h4>
                                  <table class="table table-striped table-advance table-hover">
                                 Tháng: <select ng-options="n for n in [] | range:1:13" ng-model="month_debt" name="bill_cus_current" ng-change="DebtReport()"></select>
                                 Năm: <select ng-options="n for n in [] | range:2000:2016" ng-model="year_debt" name="bill_cus_current" ng-change="DebtReport()"></select>
                                    <hr>
                                      <thead>
                                      <tr>
                                          <th>STT </th>
                                          <th class="hidden-phone"> Customer</th>
                                          <th>Debt Top</th>
                                          <th>Debt Output</th>
                                          <th>Debt Remain</th>
                                          <th>Debt Pop</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      <tr ng-repeat="item in debtlist track by $index">
                                          <td>{$ $index + 1$}</a></td>
                                          <td class="hidden-phone">{$ item.debtCustomer.customerName $}</td>
                                          <td> {$ item.debtInput $}</td>
                                          <td>{$ item.debtOutput $}</td>
                                          <td>{$ item.debtRemain $}</td>
                                          <td>{$ item.debtPop $}</td>
                                          
                                      </tr>
                                      </tbody>
                                  </table>

                              </div><!-- /content-panel -->
                          </div><!-- /col-md-12 -->

                    </div><!-- /row -->
                      <div class="row mt">
                          <div class="col-md-12">
                              <div class="content-panel">
                                <h4><i class="fa fa-angle-right"></i>Report Product</h4>
                                  <table class="table table-striped table-advance table-hover">
                                     Tháng: <select ng-options="n for n in [] | range:1:13" ng-model="month_inventory" name="bill_cus_current" ng-change="InventoryReport()"></select>
                                     Năm: <select ng-options="n for n in [] | range:2000:2016" ng-model="year_inventory" name="bill_cus_current" ng-change="InventoryReport()"></select>
                                    
                                    <hr>
                                      <thead>
                                       <tr>
                                          <th>STT </th>
                                          <th class="hidden-phone"> Product</th>
                                          <th>Inventory Top</th>
                                          <th>Inventory Output</th>
                                          <th>Inventory Remain</th>
                                          <th>Inventory Pop</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      <tr ng-repeat="item in inventorylist track by $index">
                                          <td>{$ $index + 1$}</a></td>
                                          <td class="hidden-phone">{$ item.inventoryProduct.productName $}</td>
                                          <td> {$ item.inventoryInput $}</td>
                                          <td>{$ item.inventoryOutput $}</td>
                                          <td>{$ item.inventoryRemain $}</td>
                                          <td>{$ item.inventoryPop $}</td>
                                      </tbody>
                                  </table>

                              </div><!-- /content-panel -->
                          </div><!-- /col-md-12 -->

                    </div>
                      </form>

                  </div>
                
              </div><!-- col-lg-12-->       
            </div><!-- /row -->          
    </section><! --/wrapper -->
  </section><!-- /MAIN CONTENT -->
<div class="modal fade" id="EditCus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Customer</h4>
      </div>
      <div class="modal-body">
        <div class="row mt">
              <div class="col-lg-12">
                      <form class="form-horizontal style-form" method="get">
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label">Customer Name:</label>
                              <div class="col-sm-7">
                                  <input type="text" class="form-control" ng-model="CRCustomer.customerName" >
                              </div>  
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label" >Phone:</label>
                              <div class="col-sm-7">
                                  <input type="text" class="form-control" ng-model="CRCustomer.customerPhone">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label" >Adress:</label>
                              <div class="col-sm-7">
                                  <input type="text" class="form-control" ng-model="CRCustomer.customerAdress">
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-sm-2 col-sm-2 control-label" >Email:</label>
                              <div class="col-sm-7">
                                  <input type="email" class="form-control" ng-model="CRCustomer.customerEmail">
                              </div>
                          </div>
                  
                      </form>
              </div>
          </div>                  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="UpdateCustomer()">Create</button>
      </div>
    </div>
  </div>
</div> 

